body {
    background-color:#e9e5df;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 35px;
}

.menu_navi {
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    position: fixed;
    margin-bottom: %px;
}

.cardLateral {
    background-color: #fff;
    border-radius: 0.8rem;
    width:190px;
}

.areaTexto {
    margin-left: 10px;
    position: sticky;
    margin-left: 124px;
}